.catalog {
  padding-top: 17px;
  padding-bottom: 35px;
}

.catalog__wrap {
  width: 320px;
  padding-left: 19px;
  padding-right: 20px;
  margin: 0 auto;
}

.catalog__item {
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 41px;
    padding-top: 38px;
  }

  .catalog__wrap-tablet {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 324px;
    background-color: $brand-color-alt;
  }

  .catalog__wrap {
    width: auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 56px;
    padding-bottom: 45px;
  }

  .catalog__wrap-tablet {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .catalog__item {
    width: 250px;
  }
}
