.catalog {
  padding-top: 15px;
  padding-bottom: 35px;
}

.catalog__item {
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 70px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 324px;
    background-color: $brand-color-alt;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 250px;
  }
}
