.catalog__item {
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 70px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 324px;
    background-color: $brand-color-alt;
  }
}
