.checkbox__text {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .checkbox {
    width: 313px;
    position: relative;
    margin-bottom: 32px;
  }

  .checkbox__text {
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid #cdcdcd;
      top: -10px;
      left: 0;
    }
  }

  .checkbox__control {
    display: none;
  }
}
