.checkbox {
  padding: 12px 16px 12px 0;
}

.checkbox__text {
  position: relative;
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 10px 10px 47px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    top: 8px;
    left: 1px;
  }
}

.checkbox__control {
  display: none;
}

@media (min-width: $tablet-width) {
  .checkbox {
    width: 286px;
    position: relative;
    padding-top: 14px;
    margin-bottom: 26px;
  }

  .checkbox__text {
    font-size: 20px;
    line-height: 20px;
    padding-left: 58px;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid #cdcdcd;
      top: 10px;
      left: 1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    width: 285px;
  }

  .checkbox__text {
    padding-left: 80px;
  }
}
