.checkbox {
  padding: 12px 16px 12px 46px;
}

.checkbox__text {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    top: 10px;
    left: 0;
  }
}

.checkbox__control {
  display: none;
}

@media (min-width: $tablet-width) {
  .checkbox {
    width: 313px;
    position: relative;
  }

  .checkbox__text {
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid #cdcdcd;
      top: -10px;
      left: 0;
    }
  }
}
