.contacts {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $brand-color-alt;
}

.contacts__offer {
  font-family: $main-font;
  color: $font-color-title;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $secondary-font;
  color: $font-color;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
