.copyright {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 19px;
}

.copyright__link {
  font-family: $secondary-font;
  color: $font-color;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;

  &--name {
    padding-top: 12px;
    padding-right: 16px;

    &:active {
      opacity: 0.3;
    }
  }

  &--logo {
    padding-top: 1px;
    width: 40px;
    margin-right: -6px;
  }
}

.copyright__htmlacademy-logo {
  width: 40px;
  margin-right: -6px;
  height: 40px;
  color: #444444;
}

.copyright:hover .copyright__htmlacademy-logo {
  color: $brand-color
}

.copyright:active .copyright__htmlacademy-logo {
  color: $brand-color;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;
  }
}
