.copyright {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 30px;
}

.copyright__link {
  font-family: $secondary-font;
  color: $font-color;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  width: 140px;
}

.copyright__htmlacademy-logo {
  width: 27px;
  height: 34px;
}

.copyright__logo-style {
  fill: #444444;
}
