.example {
  font-family: $main-font;
  background-color: $brand-color-alt;
  padding-left: 20px;
  padding-right: 20px;
}

.example__title {
  padding: 0;
  margin: 0;
  color: $font-color-title;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $font-color;
  font-weight: normal;
}

.example__options {
  background-color: $brand-color-alt;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: 124px;
    height: 56px;
    border: 1px solid #cdcdcd;
    z-index: 1;
  }
}

.example__result-value {
  font-family: $main-font;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  z-index: 2;
}

.example__result {
  font-family: $secondary-font;
  color: $font-color;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  text-transform: lowercase;
  z-index: 2;
}

.example__food-cost {
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $font-color-title;
  text-align: center;
  text-transform: uppercase;
}

.example__toggle {
  background-color: $brand-color-alt;
  border: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {

  .example {
    background-color: #ffffff;
    border-top: 1px solid
  }

  .example__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .example__options-wrap {
    width: 384px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 60px;
  }

  .example__options {
    background-color: #ffffff;
  }

  .example__result-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__result {
    font-size: 14px;
    line-height: 14px;
  }

  .example__food-cost {
    width: 192px;
  }

  .example__food-cost {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-left: auto;
  }

  .example__toggles {
    display: flex;
    justify-content: space-around;
  }

  .example__image {
    min-width: 677px;
    min-height: 499px;
    background-image: url("../img/before-tablet@1x.png"),
                      url("../img/after-tablet@1x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
  }

  .example__toggles-bar {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
  }

}
