.example {
  font-family: $main-font;
  background-color: $brand-color-alt;
  padding-top: 17px;
}

.example__title {
  padding: 0;
  margin: 0;
  color: $font-color-title;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding-bottom: 23px;
}

.example__text {
  padding: 0;
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $font-color;
  font-weight: normal;
  text-align: left;
  padding-right: 14px;
  padding-bottom: 25px;
}

.example__options {
  background-color: $brand-color-alt;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cdcdcd;
  width: 123px;
  padding: 13px 5px 16px;
}

.example__options-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}


.example__toggles-wrap {
  margin-left: auto;
  margin-right: auto;
}

.example__toggles {
  padding-left: 0;
  padding-right: 0;
}

.example__result-value {
  font-family: $main-font;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.example__result {
  font-family: $secondary-font;
  color: $font-color;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  text-transform: lowercase;
  position: absolute;
  bottom: -17px;
  left: 17px;
  z-index: 2;
  text-align: center;
  width: 85px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $brand-color-alt;
}

.example__food-cost {
  margin: 0;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $font-color-title;
  text-align: center;
  text-transform: uppercase;
  padding: 0 5px 20px;
}

.example__toggle {
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.example__before-after {
  position: relative;
  padding-bottom: 22px;
  background-color: $brand-color-alt;
}

.example__image--before {
  width: 100%;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: -20px 15px;
  min-height: 320px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
    background-size: 320px auto;
  }
}


.example__toggles-bar {
  position: absolute;
  width: 100%;
  bottom: 35px;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 36px;
  padding-right: 32px;

  &::before {
    content: "";
    position: absolute;
    width: 84px;
    height: 14px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    left: 99px;
    top: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: $brand-color;
    border-radius: 10px;
    left: 105px;
    top: 7px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
    border-top: 1px solid;
    padding-top: 50px;
  }

  .example__tablet-wrap {
    padding: 0;
    width: auto;
  }

  .example__desktop-wrap-2 {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .example_container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .example__options-wrap {
    width: 384px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 53px;
  }

  .example__options {
    background-color: #ffffff;
    width: 163px;
    margin-right: 17px;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  .example__result-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__result {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 138px;
    bottom: -6px;
    left: 12px;
  }

  .example__food-cost {
    width: 192px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-left: auto;
    padding-top: 11px;
    padding-right: 0;
  }

  .example__food-sum {
    display: block;
    padding-top: 10px;
  }

  .example__toggle {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    z-index: 3;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
    border-bottom: 1px dotted #dcdcdc;

    &:hover {
      border-bottom: 1px solid #dcdcdc;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }

  .example__toggles {
    position: relative;
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    min-height: 672px;
  }

  .example__toggles-wrap {
    width: 768px;
  }

  .example__before-after {
    box-shadow: inset 0 210px 0 #ffffff;
    padding-bottom: 0;
  }

  // Левая сторона
  .example__before {
    width: 50%;
  }

  .example__image--before {
    position: relative;
    background-image: url("../img/before-tablet@1x.png");
    background-position: 46px 40px;
    background-repeat: no-repeat;
    height: 560px;
    z-index: 2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
      background-size: 690px auto;
    }
  }

  .example__toggle-before {
    position: relative;
    z-index: 3;
    font-size: 20px;
    line-height: 20px;
  }

  // Правая сторона

  .example__after {
    position: relative;
    width: 50%;
  }

  .example__image--after {
    position: relative;
    background-image: url("../img/after-tablet@1x.png");
    background-position: -338px 41px;
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
    z-index: 2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
      background-size: 690px auto;
    }
  }

  .example__toggles-bar {
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 61px;
    padding-left: 98px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 7px;

    &::before,
    &::after {
      content: none;
    }
  }

  .example__progress-bar {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    z-index: 3;
    margin-top: 9px;
    border-radius: 5px;

    &::after {
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      background-color: #ffffff;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      top: 5px;
      left: 367px;
      z-index: 10;
    }

    &:hover {
      &::after {
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
      }
    }

    &:active {
      &::after {
        border: 1px solid $brand-color;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $brand-color;
      border-radius: 50%;
      top: 18px;
      left: 380px;
      z-index: 15;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: $brand-color-alt;
    box-shadow: inset 0 211px 0 #ffffff;
    padding-top: 0;
    border-top: none;
  }

  .example__desktop-wrap-1 {
    display: flex;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  .example__desktop-wrap-2 {
    display: flex;
    flex-direction: column;
    padding-left: 41px;
    padding-right: 0;
    padding-top: 76px;
    width: 610px;
  }

  .example__wrap {
    padding-right: 50px;
  }

  .example__title {
    padding-bottom: 147px;
  }

  .example__text {
    padding-bottom: 70px;
    padding-right: 130px;
  }

  .example__before-after {
    background-color: transparent;
    box-shadow: none;
    width: 690px;
  }

  .example__options-wrap {
    background-color: $brand-color-alt;
    padding-bottom: 37px;
  }

  .example__options {
    background-color: $brand-color-alt;
  }

  .example__result {
    background-color: $brand-color-alt;
    bottom: -4px;
    left: 12px;
  }

  .example__food-cost {
    width: auto;
    margin-left: 0;
    padding: 0;
  }

  .example__food-sum {
    display: inline-block;
    padding-left: 58px;
    vertical-align: bottom;
  }

  .example__toggles {
    min-height: 672px;
  }

  .example__toggles-wrap {
    width: auto;
  }

  .example__before {
    width: 56%;
  }

  .example__image--before {
    background-position: 0 20px;
  }

  .example__image--after {
    background-position: -364px 20px;
  }

  .example__toggles-bar {
    padding-left: 78px;
    padding-right: 40px;
    bottom: 60px;
  }

  .example__progress-bar::after {
    left: 348px;
  }

  .example__progress-bar::before {
    left: 361px;
  }
}
