.footer-logo {
  display: block;
  padding-left: 76px;
  padding-right: 76px;
  padding-bottom: 27px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .footer-logo {
    margin: 0;
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9px;
  }
}
