.footer-bottom {
  padding-top: 35px;
  padding-bottom: 22px;
  background-color: $brand-color-alt;
}

@media (min-width: $tablet-width) {
  .footer-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
