.footer-logo {
  display: block;
  padding-left: 76px;
  padding-right: 76px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cdcdcd;
}


@media (min-width: $tablet-width) {
  .footer-logo {
    margin: 0;
    border: none;
  }
}
