.form {
  padding-top: 15px;
}

.form__description {
  font-family: $main-font;
  color: $font-color-title;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 14px;
  text-align: left;
  padding-left: 20px;
  padding-right: 70px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 70px;
  }

  .form__description {
    width: 325px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 40px;
  }

  .programm-form {
    padding-left: 40px;
    padding-right: 37px;
    display: flex;
    flex-direction: column;
  }
}
