html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  body {
  width: 768px;
  }
}
@media (min-width: $desktop-width) {
  body {
  width: 1300px;
  }
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
}
