 .header-container {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 50%;
      height: 696px;
      z-index: -1;
      background-color: #63a73a;
      right: 1px;
      top: 0;
    }
  }
