.header-site {
  font-family: $main-font;
  color: #ffffff;
  position: relative;
}

.header-site__top {
  position: relative;
  padding-top: 5px;
  padding-bottom: 11px;
  border-bottom: 1px solid #e6e6e6;
}

.header-site__wrap {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .header-site {
    width: 768px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .header-site__top {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .header-site {
    width: 1300px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }
}
