.input {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  display: flex;
}

.input__text {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 12px;
  padding-top: 13px;
}

.input__control {
  border: 1px solid #cdcdcd;
  flex-grow: 1;
  padding: 12px 15px;

  &::placeholder {
    text-transform: uppercase;
    font-family: $main-font;
    color: $font-color;
  }
}

@media (min-width: $tablet-width) {
  .input {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
  }

  .input__text {
    font-size: 20px;
    line-height: 20px;
    padding-right: 16px;
    padding-top: 0;

    &--email {
      padding-right: 20px;
    }
  }

  .input__control {
    padding: 17px 18px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    .input--contacts {
      min-width: 570px;
    }

    .input__text {
      padding-right: 18px;

      &--email {
        padding-right: 22px;
      }

      &--phone {
        padding-right: 16px;
      }
    }

    .input__control {
      padding-left: 17px;
      padding-right: 40px;
    }
  }
}
