.input {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  display: flex;
}

.input__text {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 12px;
  padding-top: 13px;
}

.input__control {
  border: 1px solid #e6e6e6;
  flex-grow: 1;
  padding: 12px 15px;

  &::placeholder {
    text-transform: uppercase;
    font-family: $main-font;
    color: $font-color;
  }

  &:hover {
    border: 1px solid  #cdcdcd;
  }

  &:active {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }
}

// .input--contacts {
//   &::after {
//     content: "";
//     position: absolute;
//     width: 17px;
//     height: 13px;
//     background-image: url("../img/icon-mail.svg");
//     background-repeat: no-repeat;
//     background-position: 0 0;
//     right: 16px;
//     top: 16px;
//     z-index: 5;
//   }
// }

.input__icon--email {
  position: absolute;
  width: 17px;
  height: 13px;
  right: 20px;
  top: 18px;
  z-index: 5;
}

.input__icon--phone {
  position: absolute;
  width: 19px;
  height: 13px;
  right: 20px;
  top: 19px;
  z-index: 5;
}

.input__control:active + .input__icon {
  color: $brand-color;
}

.input__control:invalid + .input__icon {
  color: #ff8282;
}

.input--phone {
  &::after {
    width: 20px;
    height: 20px;
    top: 14px;
    right: 14px;
    background-image: url("../img/icon-phone.svg");
  }
}

@media (min-width: $tablet-width) {
  .input {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
  }

  .input__text {
    font-size: 20px;
    line-height: 20px;
    padding-right: 16px;
    padding-top: 0;

    &--email {
      padding-right: 20px;
    }
  }

  .input__control {
    padding: 17px 18px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .input--contacts {
    &::after {
      top: 22px;
    }
  }

  .input--phone {
    &::after {
      top: 19px;
      right: 13px;
    }
  }
}

@media (min-width: $desktop-width) {
  .input--contacts {
    min-width: 570px;

    &::after {
      top: 21px;
      right: 19px;
    }
  }

  .input__text {
    padding-right: 18px;

    &--email {
      padding-right: 22px;
    }

    &--phone {
      padding-right: 16px;
    }
  }

  .input__control {
    padding-left: 17px;
    padding-right: 40px;
    position: relative;
  }

  .input--phone {
    &::after {
      top: 19px;
      right: 19px;
    }
  }
}
