.logo {
  display: block;

  width: 191px;
  min-height: 39px;
}

@media (min-width: $tablet-width) {
  .logo {
    padding: 0;
    width: 174px;
    height: 59px;
    border: none;
    padding-top: 2px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    padding-left: 0;
  }
}
