.main-menu {
  background-color: #ffffff;
  color: $font-color-title;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-menu__link {
  box-sizing: border-box;
  display: block;
  font-family: $main-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e6e6e6;

  &--last {
    padding-top: 24px;
  }
}

@media (min-width: $tablet-width) {
  .main-menu {
    margin-left: auto;
  }

  .main-menu__list {
    min-width: 516px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .main-menu__link {
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    border: none;
    padding: 20px 0 15px;

    &--active {
      border-bottom: 2px solid $brand-color;
    }
  }
}
