.product {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.product__link {
  position: absolute;
  left: 0;
  top: 0;
}

.product__description {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  margin-bottom: 23px;
}

.product__title {
  padding: 0;
  margin: 0;
  padding-right: 66px;
  margin-bottom: 15px;
  font-family: $main-font;
  color: $font-color-title;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.product__title-link {
  text-decoration: none;
  color: inherit;
}

.product__options {
  font-size: 12px;
  line-height: 16px;
}

.product__row {
  display: flex;
  justify-content: space-between;
}

.product__label {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: $font-color;
}

.product__value {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: $font-color;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 37px 40px 38px;
    margin-bottom: 30px;
  }

  .product__description {
    padding: 0;
  }

  .product__title {
    margin: 0;
    padding: 120px 62px 25px 63px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product__options {
    width: 100%;
    margin-bottom: 30px;
  }

  .product__row {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product__label {
    font-size: 16px;
    line-height: 16px;
  }

  .product__value {
    font-size: 16px;
    line-height: 16px;
  }
}
