.product {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
  margin-top: -1px;
}

.product__wrap {
  display: flex;
}

.product__image {
  display: block;
}

.product__description {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
}

.product__title {
  padding: 0;
  margin: 0;
  padding-right: 66px;
  padding-bottom: 13px;
  font-family: $main-font;
  color: $font-color-title;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.product__title-link {
  text-decoration: none;
  color: inherit;
}

.product__options {
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;
}

.product__row {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.product__label {
  padding: 0;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: $font-color;
}

.product__value {
  padding: 0;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: $font-color;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    margin-bottom: 3px;
    box-shadow: inset 0 137px 0 #ffffff;
    border: none;
  }

  .product__wrap {
    flex-direction: column;
  }

  .product__image {
    padding-top: 52px;
    padding-bottom: 16px;
    min-width: 242px;

    &--big {
      padding-top: 16px;
    }
  }

  .product__link {
    align-self: center;
    flex-grow: 1;
    padding-bottom: 20px;
  }

  .product__description {
    padding: 0;
  }

  .product__title {
    margin: 0;
    padding: 0 92px 22px 94px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product__options {
    width: 100%;
    margin-bottom: 30px;
  }

  .product__row {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
    margin-left: 38px;
    margin-right: 37px;
  }

  .product__label {
    font-size: 16px;
    line-height: 16px;
  }

  .product__value {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .product__title {
    padding: 0px 49px 23px 47px;
  }

  .product__row {
    margin-left: 40px;
    margin-right: 45px;
  }
}
