.programm-form {
  font-family: $main-font;
  padding-top: 25px;
  padding-bottom: 32px;
}

.programm-form__item {
  position: relative;
}

.programm-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 9px;

  &--radio {
    padding: 0;
    margin-bottom: 28px;
    border: 1px solid #ededed;
  }

  &--textarea {
    padding-bottom: 26px;
  }
}

.programm-form__list {
  list-style: none;
  padding: 0;
  margin: 0;

  &--radio {
    padding-top: 21px;
    padding-bottom: 6px;
  }

  &--checkbox {
    padding-bottom: 20px;
  }
}

.programm-form__title {
  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $font-color-title;
  padding-bottom: 31px;

  &--textarea {
    padding-bottom: 35px;
  }

  &--checkbox {
    padding-bottom: 28px;
  }
}

.programm-form__contacts {
  padding-top: 3px;
  padding-bottom: 5px;
}

.programm-form__requared-text {
  display: block;
  font-family: $secondary-font;
  color: $font-color;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 62px;
}


@media (min-width: $tablet-width) {
  .programm-form__fieldset {
    padding-bottom: 53px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 40px;

    &--radio {
      border: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 23px;
    }

    &--contacts {
      padding-bottom: 43px;
    }

    &--textarea {
      padding-bottom: 65px;
    }

    &--checkbox {
      padding-bottom: 24px;
    }
  }

  .programm-form__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 70px;

    &--textarea {
      padding-bottom: 75px;
    }

    &--checkbox {
      padding-bottom: 50px;
    }
  }

  .programm-form__list {
    display: flex;
    flex-direction: column;
   }

  .programm-form__list--radio {
    padding: 23px 26px 12px;
    border: 1px solid #cdcdcd;
    margin-left: 40px;
    margin-right: 40px;
  }

  .programm-form__list--checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .programm-form__send {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .programm-form__requared-text {
    order: 2;
    padding-top: 0;
    font-size: 16px;
    padding-left: 0;
  }
}
