.programm-form {
  font-family: $main-font;
  padding-top: 25px;
  padding-bottom: 35px;
}

.programm-form__item {
  position: relative;
}

.programm-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 19px;
  padding-right: 20px;
  padding-bottom: 9px;

  &--radio {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 28px;
  }
}

.programm-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;

  &--radio {
    padding-top: 21px;
    padding-bottom: 6px;
    padding-left: 19px;
    padding-right: 20px;
    border: 1px solid #ededed;
  }
}

.programm-form__title {
  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $font-color-title;
  padding-bottom: 31px;
}

.programm-form__contacts {
  padding-top: 3px;
  padding-bottom: 5px;
}

.programm-form__requared-text {
  font-family: $secondary-font;
  color: $font-color;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .programm-form__fieldset {
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
  }

  .programm-form__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 70px;
  }

  .programm-form__list {
    display: flex;
    flex-direction: column;
  }

  .programm-form__list--radio {
    padding: 25px 28px;
    border: 1px solid #cdcdcd;
  }

  .programm-form__list--checkbox {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .programm-form__send {
    display: flex;
    align-items: center;
  }

  .programm-form__requared-text {
    order: 2;
  }
}
