.radio {
  position: relative;
  padding-bottom: 14px;
}

.radio__text {
  display: block;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 46px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    left: 0;
    top: -1px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $brand-color;
    border-radius: 50%;
    left: 9px;
    top: 7px;
  }
}

.radio__control {
  display: none;
}


@media (min-width: $tablet-width) {
  .radio {
    margin-bottom: -1px;
  }

  .radio__text {
    padding-left: 60px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    &::after {
      width: 18px;
      height: 18px;
      left: 11px;
      top: 12px;
    }

    &::before {
      width: 40px;
      height: 40px;
      top: 0;
    }
  }
}
