.social__list {
  margin: 0;
  padding: 22px 63px 17px 54px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__link--vk {
  display: block;
  padding-top: 3px;
}

.social__link--ig {
  display: block;
  padding-top: 3px;
}
