.subcatalog {
  padding-top: 28px;
}

.subcatalog__wrap {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.subcatalog__title {
  font-family: $main-font;
  color: $font-color-title;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  padding-bottom: 34px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $brand-color;
    top: 14px;
  }
}

.subcatalog__title-text {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  padding-right: 22px;
  padding-left: 20px;
}

.subcatalog__text-wrap {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
}

.subcatalog__additional-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #cdcdcd;
}


.subcatalog__present {
  margin-top: 39px;
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $brand-color;
}

.subcatalog__present-text {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-family: $secondary-font;
  padding-left: 54px;
  padding-right: 56px;
  padding-top: 188px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 61px;
    background-image: url("../img/icon-gift.svg");
    top: 65px;
    left: 113px;
  }
}

.subcatalog__image {
  width: 55px;
  height: 60px;
}

@media (min-width: $tablet-width) {
  .subcatalog {
    padding-top: 61px;
  }

  .subcatalog__wrap {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .subcatalog__text-wrap {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .subcatalog__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 80px;
    position: relative;

    &::after {
      top: 22px;
    }
  }

  .subcatalog__title-text {
    padding-right: 36px;
    padding-left: 37px;
  }

  .subcatalog__additional-list {
    border: none;
  }

  .subcatalog__present {
    width: 100%;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 69px;
    padding-left: 150px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 56px;
      height: 61px;
      background-image: url("../img/icon-gift.svg");
      top: 65px;
      left: 90px;
    }
  }

  .subcatalog__image {
    width: 55px;
    height: 60px;
  }

  .subcatalog__present-text {
    width: 162px;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-right: 123px;
    padding-top: 2px;

    &::before {
      content: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .subcatalog {
    padding-top: 70px;
  }

  .subcatalog__title {
    padding-left: 0;
    padding-bottom: 81px;
    border-bottom: none;
  }

  .subcatalog__wrap {
    display: flex;
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .subcatalog__text-wrap {
    width: 1300px;
    margin-left: 40px;
    padding-right: 40px;
  }

  .subcatalog__title-text {
    padding-left: 39px;
  }

  .subcatalog__additional-list {
    flex-grow: 1;
    padding-right: 80px;
  }

  .subcatalog__present {
    width: 245px;
    flex-direction: column;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    padding-left: 0;
    margin-top: 0;
    padding-bottom: 43px;

    &::before {
      top: 63px;
      left: 96px;
    }
  }

  .subcatalog__present-text {
    margin-right: 0;
    text-align: center;
  }
}
