.textarea {
  &::placeholder {
    text-transform: uppercase;
    font-family: $main-font;
    color: $font-color;
  }
}

@media (min-width: $tablet-width) {
  .textarea {
    width: 100%;
    border: 1px solid #cdcdcd;
  }
}
