// Основные цвета сайта

$brand-color: #68b738;
$brand-color-alt: #f2f2f2;

// Основные цвета текста

$font-color: #444444;
$font-color-title: #111111;

// Главные параметры текста

$main-font: "Oswald", "Arial", sans-serif;
$main-font-alt: "Arial", "Helvetica", sans-serif;
